#rightnav-container {
    margin: 20px;
    height: 400px;
}

.label_header {
	font-family: "Arial";
	font-size: 24px;
	color: #808080;
}

.label_value_header {
	font-family: "Arial";
	font-size: 24px;
	color: black;
}